#lien{
display: flex;
gap: 10px;
}
.btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #f1f1f1;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500px;
    transition: all 0.3s ease;
}
.btn:hover{
    background: #c58989;;
}
#bn{
    background: #4CAF50;

}