body{
    font-family: Arial,sans-serif;
    margin: 0;
    background: whitesmoke;
}
/*entete*/
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
nav a{
    margin: 0 10px;
    text-decoration:none ;
    color: black ;
}
/*SECTION JOB*/
.jobs{
    padding: 40px;
}
.jobs input{
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    gap: 20px;
}
.cards>button{
    text-align: center;
}
.card{
    background: wheat;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
/*categories*/
.categories{
    padding: 40px;
}
.cat-container{
    display: flex;
    gap: 20px;
}
.cat{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0);
}
/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 20px;
    margin-top: 30px;
}
.card>button{
    background-color: green;
    color: white;
}
.cabrel{
  display: flex;
  gap: 10px;
}
.cabrel input{
    width: auto;
    padding: 8px 15px;
    border: 1px solid #ccc;
    background: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}
.cabrel input:hover{
    background: #ddd; /*pour l'effet de survol*/
}
.yo{
    padding-left: 4%;
}
#capo{
    background: green;
    color: white;
}
.yep{
    padding-left: 4%;
}
.yech{
    padding-right: 28%;
}
#jo{
    background: green;
    color: white;
}
#cou{
    color: green;
}
.logo{
    color: blue;
}
.card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.2);
}